# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env
.env.local

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Maven build output
backend/target/

# Java
*.class
*.jar
*.war

backend/.idea/
.vscode/
backend/src/main/resources/application.properties
backend/src/main/resources/application-dev.properties
backend/src/main/resources/application-prod.properties